node_modules
build
tmp

.env
.env.local
.env.production

public/assets

npm-debug.log
yarn-error.log

.fleet
.idea

.DS_Store

logs
*.log
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
